**/__pycache__

# Text2Tex
Baseline/Text2Tex/outputs/
Baseline/Text2Tex/data/objaverse/

# TEXTure
**/.ipynb_checkpoints
*.mp4
*.npy
*.npz
*.dae
Baseline/TEXTurePaper/data/*
Baseline/TEXTurePaper/logs/*
Baseline/TEXTurePaper/.idea
Baseline/TEXTurePaper/experiments
Baseline/TEXTurePaper/cache

# SoG
SoG/.idea
SoG/data/*
SoG/logs/*
SoG/experiments
SoG/cache