**/__pycache__

# Text2Tex
Baseline/Text2Tex/outputs/
Baseline/Text2Tex/data/objaverse/

# TEXTure
**/.ipynb_checkpoints
*.mp4
*.npy
*.npz
*.dae
Baseline/TEXTure/data/*
Baseline/TEXTure/logs/*
Baseline/TEXTure/.idea